* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
}

.logo {
  width: 150px;
  height: 150px;
}

.icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.product-details {
  max-width: 50%;
}

.product-details h1 {
  font-size: 2.5rem;
  color: #00ced1; /* Aqua */
  margin-bottom: 1rem;
}

.product-details p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #cccccc; /* Gray */
}

.product-details h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.product-details button {
  background-color: #00ced1; /* Aqua */
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.product-details button:hover {
  background-color: #0097a7; /* Slightly darker Aqua */
}

.product-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
}
